doctype html
html
  head
    title Dance Monkey Website
    block scripts
    block style
  body
  div.container
    nav#navbar
            ul
                div#logo
                    img(src="/static/logo.jpg")
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Our Classes]
                li #[a(href="/") Our Centers]
                li #[a(href="/") Contact Us]
    block content
    footer#footer
        | Website © ALekhaya Datta
