doctype html
html
    head
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Our Classes]
                li #[a(href="/") Our Centers]
                li #[a(href="/") Contact Us]

        section#introsec
            | Hello we are dance monkey website
        section#sponsorssec
            | section for sponsors
        section#footer
            | section for footer
        script
            include ../static/script.js 