doctype html
html
    head
        title Dance Monkey Website
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Our Classes]
                li #[a(href="/") Our Centers]
                li #[a(href="/") Contact Us]

        section#introsec
            div Hello we are dance monkey website
            div.small This is a website created using pug
        section#missionssec
            h2 Our Mission
            div.card 
                h3 Preserve Forest
            div.card 
                h3 Protect the endangered species
            div.card 
                h3 Reduce pollution
        section#sponsorssec
            h2 Our Sponsors
        section#footer
            | section for footer
        script
            include ../static/script.js 