@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Langar', cursive;
}
#logo img{
    height: 50px;
    width: 50px;

}
#navbar{
    background-color: rgba(17, 13, 29, 0.89);
    padding: 15px 5px;
}
#navbar ul{
display: flex;
flex-direction: row;
justify-content: center;
}
#navbar li{
list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    font-size: 1.4rem;
}
#navbar li a:hover{
    background-color: red;
    border: 5px solid black;
}

#introsec{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg");
    height: 500px;
    background-color: yellow;
    font-size: 2.5rem;

}
#introsec div.small{
    font-size: 1.5rem;

}
#missionssec{
    height: 350px;
    background-color: wheat; 
    width: 100%;
    display: block; 
    margin: auto;
}
#missionssec h2{
    text-align: center;
   padding: 10px;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
    display: inline-block;
}
.card h3{
    
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 100px;
    padding: 0 14px;
}
.card-img img{
    height: inherit;
    
}
#sponsorssec{
    height: 250px;
    background-color:whitesmoke;
    margin-top: 0px;
    justify-content: center;
}
#sponsorssec h2{
    text-align: center;
   padding: 10px;
}
#sponsors{
    height: 195px;
    max-width: 1000px;
    margin-left: 350px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.sponsorimg{
    display: inline-block;
    height: 100%;
    margin: 5px;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
    
}

#footer{
    height: 55px;
    background-color:rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;

}