@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Langar', cursive;
}
#navbar{
    background-color: rgba(17, 13, 29, 0.89);
    padding: 15px 5px;
}
#navbar ul{
display: flex;
flex-direction: row;
justify-content: center;
}
#navbar li{
list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    font-size: 1.4rem;
}
#navbar li a:hover{
    background-color: red;
    border: 5px solid black;
}

#introsec{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg");
    height: 500px;
    background-color: yellow;
    font-size: 2.5rem;

}
#introsec div.small{
    font-size: 1.5rem;

}
#missionssec{
    height: 450px;
    background-color: wheat; 
    width: 100%;
    display: block; 
    margin: auto;
}
#missionssec h2{
    text-align: center;
   padding: 10px;
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 25%;
    height: 200px;
    display: inline-block;
}
.card h3{
    
    text-align: center;
    margin-top: 11px;
}
#sponsorssec{
    height: 250px;
    background-color: wheat;
}
#sponsorssec h2{
    text-align: center;
   padding: 10px;
}
#footer{
    height: 250px;
    background-color:rebeccapurple;
}